

h2{
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    background-color: rgb(166, 166, 166);
    border-radius: 5px;
}
.container{
    margin-top: 10px;
    
}
label{
    font-weight: bold;
}
section{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
}
#uploaded-list {
    list-style: none;
    padding: 0;
}

#uploaded-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

#uploaded-list li button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

#uploaded-list li button:hover {
    background-color: #CC0000;
}